:root {
  --light-blue: #00adb5;
  --dark-blue: #4682b4;
  --dark-yellow: #e6840e;
  --light-white: #eeeeee;
}

.title {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.2;
  color: var(--light-white);
}

.title span {
  color: var(--light-blue);
}

.button {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3875rem;
  padding: 0.625rem 2rem;
  background-color: rgba(57, 62, 70, 0.75);
  color: var(--light-white);
  border-radius: 1.5rem;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: var(--dark-yellow);
}

.button_dark {
  background-color: rgba(57, 62, 70, 0.75);
}

.button_dark:hover,
.button_dark.active {
  background-color: var(--dark-yellow);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social img {
  width: 24px;
}

.social__link {
  background-color: #393e46;
  flex: 0 0 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}

.social__link:hover {
  background-color: var(--dark-yellow);
  transform: scale(1.1);
}

.about__text a {
  color: #00adb5;
}

.about__text a:hover {
  color: #00adb5;
  text-decoration: underline;
}