:root {
  --dark-grey: #1e2125;
  --light-white: #eeeeee;
  --light-white2: #fafafa;
  --dark--blue: #38569f;
  --dark-blue2: #38569f;
  --light-blue: #17bed2;
  --light-blue2: #4682b4;
  --light-blue3: #4586FF;
  --light-blue4: #00adb5;
  --dark-yellow: #ff6600;
  --light-yellow: #f9a743;
  --dark-yellow2: #e6840e;
  --light-green: #30be72;
}

.title {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.2;
  color: var(--light-white);
}

.title span {
  color: var(--light-blue);
}

.button {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3875rem;
  padding: 0.625rem 2rem;
  background-color: rgba(57, 62, 70, 0.75);
  color: var(--light-white);
  border-radius: 1.5rem;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: var(--dark-yellow);
}

.button_dark {
  background-color: rgba(57, 62, 70, 0.75);
}

.button_dark:hover,
.button_dark.active {
  background-color: var(--dark-yellow);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social img {
  width: 24px;
}

.social__link {
  background-color: #393e46;
  flex: 0 0 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}

.social__link:hover {
  background-color: var(--dark-yellow);
  transform: scale(1.1);
}

.about__text a {
  color: #6cb68f;
}

.text__skills {
  color: #dfba7a;
  font-size: 1.25rem;
  font-weight: 500;
}

.about__text a:hover {
  text-decoration: underline;
}