// root
:root {
  --dark-grey: #1e2125;
  --light-white: #eeeeee;
  --light-white2: #fafafa;
  --dark--blue: #38569f;
  --dark-blue2: #38569f;
  --light-blue: #17bed2;
  --light-blue2: #4682b4;
  --light-blue3: #4586FF;
  --light-blue4: #00adb5;
  --dark-yellow: #ff6600;
  --light-yellow: #f9a743;
  --dark-yellow2: #e6840e;
  --light-green: #30be72;
}

.menu-open body {
  overflow: hidden;
}

.header {
  background-color: rgba(27, 32, 39, var(--opacity));
  position: fixed;
  transition: background-color 0.1s;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 0.0625rem solid rgba(238, 238, 238, 0.1);
  z-index: 50;
}
.header .header__logo img {
  display: none;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.9375rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

@media (min-width: 768px) {
  .header__container{
      transform: translate(0px, -1.875rem);
      opacity: 0;
  }
  .on-load .header__container{
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
  }
}     

.header__logo {
  position: relative;
  z-index: 5;
}
// ----------------------------------------------
.color-pc {
  padding-right: 1.4rem;
  padding-top: 1.7rem;
  display: block;
  background: url(../resources/img/icons/color.svg) center no-repeat;
  background-size: 1.8rem;
}
.color-pc:hover {
  transform: scale(1.3);
}
.lang__button-pc {
  padding-right: 1.4rem;
  padding-top: 1.7rem;
  display: block;
  background: url(../resources/img/icons/language.svg) center no-repeat;
  background-size: 1.8rem;
}
.lang__button-pc:hover{
  transform: scale(1.3);
}
// ----------------------------------------------

.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: 0.1875rem;
  align-items: center;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 1.25rem;
}

.menu__link {
  color: var(--light-white);

  font-weight: 700;
  color: #fff;
  display: inline-block;
  line-height: 1.5;
  position: relative;
}

.menu__link:not(:last-child) {
  color: var(--dark-yellow);
}

.menu__link:not(:last-child):hover {
  color: var(--light-white);
}

.menu__link:hover {
  color: var(--light-blue);
  transition: color 0.4s ease 0s;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 0;
  height: 0.125rem;
  transition: all 0.3s;
  // background-color: var(--dark-yellow);
}
.menu__link.active::after,
.menu__link:hover::after {
  width: 100%;
  left: 0;
}
.menu__link:not(:last-child).active::after,
.menu__link:not(:last-child):hover::after {
  width: 0;
  left: 0;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(44, 43, 43);
  padding: 0.9375rem;
  min-width: 12.5rem;
}

@media (max-width: 767.98px) {
  .menu__sub-list {
    background-color: rgb(29, 28, 28);
  }
}
.menu__sub-list li {
  margin: 0px 0px 0.625rem 0px;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #fff;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 0.625rem 0;
  }
  .menu__sub-list {
    transform: translate(0rem, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0rem, 0rem);
  pointer-events: all;
}

body._mobile .menu__list > li {
  display: flex;
  align-items: center;
}

body._mobile .menu__link {
  flex: 1 1 auto;
}

body._mobile .menu__arrow {
  display: none;
}

body._mobile .menu__list > li._activeArrow .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0rem, 0rem);
  pointer-events: all;
}

body._mobile .menu__list > li._activeArrow .menu__arrow {
  transform: rotate(-180deg);
}

a.lang-pc {
  margin-top: 1.625rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
}
a.lang-pc:hover {
  color: var(--light-blue);
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3.125rem;
  height: 1.625rem;
  background-color: var(--light-blue);
  border-radius: 25px;
  cursor: pointer;
  position: relative;
}

input::after {
  content: "";
  width: 0.95rem;
  height: 0.95rem;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  transition: left 0.3s;
}

input:checked::after {
  left: 70%;
}

.header__logo img {
  display: none;
}

@media (max-width: 767.98px) {

  .menu__body {
    position: fixed;
    width: 50%;
    height: 50%;
    left: 50%;
    top: -100%;
    transition: top 0s;
    background-color: #3d3f44;
    padding: 6.25rem 0.9375rem 1.25rem 0.9375rem;
    overflow: auto;
    z-index: 1;
  }
  .menu-open .menu__body {
    top: 0;
  }
  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 2.4rem;
    height: 1.8rem;
  }
  // color mode
  .color__mode {
    transform: translate(0px, -1.875rem);
    opacity: 0;
  }

  .on-load .color__mode {
    margin: 0rem 1.875rem 0rem 0rem;
    padding-right: 1.4rem;
    padding-top: 1.7rem;
    display: block;
    background: url(../resources/img/icons/color.svg) center no-repeat;
    background-size: 1.3rem;

    transform: translate(0, 0);
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .lang__button {
    transform: translate(0px, -1.875rem);
    opacity: 0;
  }
  .on-load .lang__button {
    padding-right: 1.4rem;
    padding-top: 1.7rem;
    display: block;
    background: url(../resources/img/icons/language.svg) center no-repeat;
    background-size: 1.3rem;

    transform: translate(0, 0);
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
  }

  .on-load .icon-menu__line::before {
    content: "menu";
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: -0.13rem;
    color: var(--light-white);
    margin: 0.35rem 0rem 0.1rem -2.7rem;
  }
  .icon-menu {
    transform: translate(0px, -1.875rem);
    opacity: 0;
  }
  .on-load .icon-menu {
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 1s ease, opacity 1.3s ease;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    position: absolute;
    background-color: var(--dark-yellow);
    height: 0.1rem;
    width: 30%;
    left: 15px;
    transition: all 0.3s;
    margin: 0.3rem 0rem 0.12rem -1.28rem;
  }
  .icon-menu::before {
    top: -120px;
  }
  .menu-open .icon-menu::before {
    top: calc(42% - 0.0625rem);
    transform: scale(2) rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(42% - 0.0625rem);
    transform: scale(2) rotate(45deg);
  }

// old version
// .menu__body {
//   position: fixed;
//   width: 100%;
//   height: 45%;
//   left: 0;
//   top: -100%;
//   transition: top 0s;
//   background-color: #3d3f44;
//   padding: 6.25rem 0.9375rem 1.25rem 0.9375rem;
//   overflow: auto;
//   z-index: 1;
// }
// 


// .on-load .icon-menu__line::before {
//   content: "menu";
//   font-size: 1.15rem;
//   font-weight: 500;
//   letter-spacing: -0.13rem;
//   color: var(--light-white);
//   margin: 0.35rem 0rem 0.1rem -2.7rem;
// }
// .icon-menu {
//   transform: translate(0px, -1.875rem);
//   opacity: 0;
// }
// .on-load .icon-menu {
//   transform: translate(0, 0);
//   opacity: 1;
//   transition: transform 1s ease, opacity 1.3s ease;
// }
// .icon-menu::before,
// .icon-menu::after {
//   content: "";
//   position: absolute;
//   background-color: var(--dark-yellow);
//   height: 0.11rem;
//   width: 100%;
//   left: 0;
//   transition: all 0.3s;
//   margin: 0.3rem 0rem 0.12rem -1.28rem;
// }
// .icon-menu::before {
//   top: 0;
// }
// .icon-menu::after {
//   bottom: 0;
// }
// .menu-open .icon-menu::before {
//   top: calc(42% - 0.0625rem);
//   transform: scale(1.05) rotate(-45deg);
// }
// .menu-open .icon-menu::after {
//   bottom: calc(42% - 0.0625rem);
//   transform: scale(1.05) rotate(45deg);
// }
// old version

  .menu-open .icon-menu__line {
    display: none;
  }
  .menu__list {
    display: block;
    align-items: center;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0rem 0pre 1.875rem 0rem;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._activeArrow .menu__sub-list {
    display: block;
  }
  .menu__link {
    display: flex;
    align-items: flex-start;
    margin: 0.625rem 0;
    text-transform: none;
  }
  .menu__link:last-child {
    text-transform: uppercase;
  }
  .menu__sub-list {
    position: relative;
    flex: 1 1 100%;
    margin: 1.25rem 0rem 0rem 0rem;
    display: none;
  }
  .menu__sub-link {
    font-size: 1.25rem;
    color: #000;
  }
  .header__logo img {
    width: 4.4rem;
  }
  .menu__link.active::after,
  .menu__link:hover::after {
    width: 0;
    left: 0;
  }
  .menu__link:not(:last-child) {
    display: none;
  }
}

.inactive {
  color: #575151;
}
.inactive:hover {
  color: #575151;
}
.menu__link.inactive:hover::after {
  width: 0;
  left: 0;
}
