// root
:root {
  --light-blue: #00adb5;
  --dark-blue: #4682b4;
  --light-yellow: #f9a743;
  --dark-yellow: #e6840e;
  --light-white: #eeeeee;
  --light-green: #30be72;
  --dark-grey: #1e2125;
}

.page {
  flex: 1 1 auto;
  padding-top: 5.3125rem;
}

// main page
.main {
  padding-top: 5.8125rem;
  padding-bottom: 6.125rem;
  border-bottom: 0.0625rem solid rgba(238, 238, 238, 0.1);
}
.main__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.main__content {
  flex: 1 1 auto;
  padding-right: 1.25rem;
}
.main__title {
  font-family: "Play", Arial, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 3.4rem;
  color: var(--light-white);
  padding-bottom: 0.625rem;
}
.main__title span {
  color: var(--light-blue);
  display: flex;
  font-size: 3.8rem;
  padding-top: 1.925rem;
}

.main__title:not(:last-child) {
  margin-bottom: 3rem;
}
.main__buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.main__message-button span {
  padding-right: 2.125rem;
  display: block;
  background: url(../resources/img/icons/message.svg) right no-repeat;
  background-size: 26px;
}
.main__resume-button span {
  padding-right: 2.125rem;
  display: block;
  background: url(../resources/img/icons/download.svg) right no-repeat;
  background-size: 20px;
}
.main__image {
  flex: 0 0 42.8%;
  text-align: center;
}
.main__image img {
  max-width: 100%;
}
@media (max-width: 1280.98px) {
  .main {
    padding-top: 3.125rem;
    padding-bottom: 2.8125rem;
  }
  .main__container {
    flex-direction: column;
    align-items: stretch;
  }
  .main__content {
    padding-right: 0rem;
  }
  .main__title {
    text-align: center;
  }
  .main__image {
    flex: 0 0 auto;
  }
  .main__buttons {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .main__title {
    font-size: 2.3rem;
    line-height: 1.2;
    text-align: left;
  }
  .main__title span {
    font-size: 2.3rem;
    line-height: 1.2;
    text-align: left;
  }
  .main__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
  .main {
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
  }
}
@media (max-width: 479.98px) {
  .main__title {
    font-size: 2rem;
    line-height: 1;
    text-align: left;
  }
  .main__title span {
    font-size: 2rem;
    line-height: 1;
    text-align: left;
  }
  .main__title span {
    display: flex;
    padding-top: 1.2rem;
    text-align: left;
  }
  .main__buttons {
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 991.98px) {
  .title {
    font-size: 3.25rem;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 1.8125rem;
  }
}
@media (max-width: 479.98px) {
  .title {
    font-size: 1.6rem;
  }
}

// about page
.about {
  padding-top: 7.25rem;
  padding-bottom: 7.25rem;
}
.about__container {
  display: flex;
}
.about__content {
  flex: 1 1 auto;
  padding-right: 1.25rem;
}
.about__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.about__text {
  max-width: 36.875rem;
  line-height: 1.5;
}
@media (max-width: 767.98px) {
  .about__text p {
    font-size: 1.55rem;
  }
}
.about__image {
  text-align: center;
  flex: 0 0 33.2%;
}
.about__image img {
  max-width: 100%;
  border-radius: 0.9375rem;
}

@media (max-width: 1280.98px) {
  .about {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}

@media (max-width: 991.98px) {
  .about {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }
  .about__container {
    flex-direction: column;
  }
  .about__content {
    text-align: center;
    padding-right: 0rem;
    margin-bottom: 1.25rem;
  }
  .about__text {
    max-width: none;
  }
  .about__image img{
    margin: 0 auto;
    max-width: 50%;
  }
}
@media (max-width: 767.98px) {
  .about__image img{
    max-width: 80%;
  }
}
@media (max-width: 479.98px) {
  .about__image img{
    max-width: 100%;
  }
}

// products page
.works {
  padding-top: 9.0625rem;
  padding-bottom: 9.0625rem;
}

.works__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.items-works__navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.items-works__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.items-works__item {
  background-color: rgba(57, 62, 70, 0.2);
  -webkit-backdrop-filter: blur(0.125rem);
  backdrop-filter: blur(0.125rem);
  border-radius: 1rem;
  padding: 2rem;
}

@media (max-width: 767.98px) {
  .items-works__body {
    display: grid;
  }
  .items-works__item {
    background-color: rgba(57, 62, 70, 0.2);
    -webkit-backdrop-filter: blur(0.125rem);
    backdrop-filter: blur(0.125rem);
    border-radius: 1rem;
    padding: 2.9rem;
    margin: 0.59rem 3.3rem;
  }
}
@media (max-width: 479.98px) {
  .items-works__body {
    display: grid;
  }
  .items-works__item {
    background-color: rgba(57, 62, 70, 0.2);
    -webkit-backdrop-filter: blur(0.125rem);
    backdrop-filter: blur(0.125rem);
    border-radius: 1rem;
    padding: 2.7rem;
    margin: 0.57rem 3.1rem;
  }
}

.items-works__image {
  position: relative;
  padding-bottom: 59.622642%;
}

.items-works__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transform: scale(1);
}
.items-works__image img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease 0s;
}

@media (max-width: 1280.98px) {
  .works {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}
@media (max-width: 991.98px) {
  .works {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }
}
@media (max-width: 767.98px) {
  .works__title {
    text-align: center;
  }
  .items-works__navigation {
    justify-content: center;
    margin-bottom: 1.25rem;
  }
  .items-works__body {
    gap: 0.9375rem;
  }
}
