// imports
@import url("/css/reset.css");
@import url("/css/common.css");
@import url("/css/header.css");
@import url("/css/main.css");
@import url("/css/footer.css");

// root
:root {
  --dark-grey: #1e2125;
  --light-white: #eeeeee;
  --light-white2: #fafafa;
  --dark--blue: #38569f;
  --dark-blue2: #38569f;
  --light-blue: #17bed2;
  --light-blue2: #4682b4;
  --light-blue3: #4586FF;
  --light-blue4: #00adb5;
  --dark-yellow: #ff6600;
  --light-yellow: #f9a743;
  --dark-yellow2: #e6840e;
  --light-green: #30be72;
}

// general
body {
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #1e2125;
  color: rgba(238, 238, 238, 0.75);
  font-size: 1.125rem;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 75rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

// color mode -- light
body._color-mode {
  background-color: #c9c9c9;
  color: #121418;

  .title {
    color: #121418;
  }

  .main__title {
    color: #121418;
  }

  .menu__link {
    color: #121418;
  }

  .menu__link:hover {
    color: var(--dark-yellow);
  }

  .menu__link:not(:last-child) {
    color: var(--dark-yellow);
  }

  .menu__link:not(:last-child):hover {
    color: #121418;
  }

  @media (max-width: 767.98px) {
    .menu__link {
      color: var(--light-white);
    }
  }

  .header {
    border-bottom: 0.0825rem solid rgba(0, 0, 0, 0.1);
    background-color: rgba(238, 238, 238, var(--opacity));
  }

  .main {
    border-bottom: 0.0825rem solid rgba(0, 0, 0, 0.1);
  }

  .footer {
    border-top: 0.0825rem solid rgba(0, 0, 0, 0.1);
  }

  .items-works__item {
    background-color: rgba(167, 170, 175, 0.2);
  }

  .menu-footer__link_main {
    background: url(../resources/img/icons/main-light.svg) left no-repeat;
    background-size: 24px;
  }

  .menu-footer__link_about {
    background: url(../resources/img/icons/person-light.svg) left no-repeat;
    background-size: 26px;
  }

  .menu-footer__link_products {
    background: url(../resources/img/icons/products-light.svg) left no-repeat;
    background-size: 26px;
  }

  .main__title {
    color: #121418;
  }

  .main__title span {
    color: var(--dark-yellow);
  }

  .title span {
    color: var(--dark-yellow);
  }

  .button {
    background-color: rgba(57, 62, 70, 0.75);
  }
  
  .button:hover {
    background-color: var(--light-blue);
  }

  .button_dark {
    background-color: rgba(57, 62, 70, 0.75);
  }

  .button_dark:hover,
  .button_dark.active {
    background-color: var(--light-blue);
  }

  .social__link:hover {
    background-color: var(--light-blue);
    transform: scale(1.1);
  }

  .dark__image {
    display: none;
  }

  .about__text a {
    color: #237c4b;
  }
  .text__skills {
    color: #274647;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .menu-footer__link:hover {
    color: var(--dark-yellow);
  }
  
  .icon-menu__line::before {
    // content: "menu";
    // font-size: 1.15rem;
    // font-weight: 500;
    // letter-spacing: -0.13rem;
    color: #121418;
    // margin: 0.35rem 0rem 0.1rem -2.7rem;
  }

  .vibro__mobile {
    background: url(/resources/img/icons/vibro-light.svg) center no-repeat;
    background-size: 1.42rem;
  }
  .color__mode {
    background: url(../resources/img/icons/color-light.svg) center no-repeat;
    background-size: 1.3rem;
  }

  .lang__button {
    background: url(../resources/img/icons/language-light.svg) center no-repeat;
    background-size: 1.3rem;
  }

  .color-pc {
    background: url(../resources/img/icons/color-light.svg) center no-repeat;
    background-size: 1.8rem;
  }
  .lang__button-pc {
    background: url(../resources/img/icons/language-light.svg) center no-repeat;
    background-size: 1.8rem;
  }

  .menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(116, 113, 113);
    padding: 0.9375rem;
    min-width: 12.5rem;
  }

  a.lang-pc {
    color: #121418;
    text-decoration: none;
    font-weight: 700;
  }

  a.lang-pc:hover {
    color: var(--dark-yellow);
  }

  .inactive {
    color: #575151;
  }

  .inactive:hover {
    color: #575151;
  }

  .menu__link.inactive:hover::after {
    width: 0;
    left: 0;
  }
}

@media (min-width: 767.98px) {
  .icon-menu__line::before {
    display: none;
  }
}

// animation
@media (max-width: 767.98px) {
  [data-anim] {
    transform: translate(0rem, 3.125rem);
    opacity: 0;
    transition: all 0.8s;
  }

  [data-anim].animation {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.8s;
  }
}